<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#/home"><i class="fa-solid fa-school-flag"></i>INFT2202</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="Navbar">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#/home"><i class="fa-solid fa-house"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/opportunities"><i class="fa-solid fa-wine-bottle"></i> Opportunities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/events"><i class="fa-solid fa-taxi"></i> Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/about"><i class="fa-solid fa-info"></i> About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/contacts"><i class="fa-solid fa-envelope"></i> Contacts</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            More
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#/privacyPolicy">Privacy Policy</a></li>
            <li><a class="dropdown-item" href="#/termsOfService">Terms of Service</a></li>
            <li><a class="dropdown-item" href="#/gallery">Gallery</a></li>
          </ul>
        </li>
        <li class="nav-item" id="PlanningNav">
          <a id="eventsPlanning" class="nav-link" href="#/eventsPlanning"><i class="fa-solid fa-solid fa-calendar-day"></i>Event Planning</a>
        </li>
        <li class="nav-item" id="StatisticsNav">
          <a id="statistics" class="nav-link" href="#/statistics"><i class="fa-solid fa-solid fa-chart-simple"></i>Statistics</a>
        </li>
        <li class="nav-item">
          <a id="login" class="nav-link" href="#/login"><i class="fa-solid fa-arrow-right-to-bracket"></i>Log In</a>
        </li>
        <li>
          <div class="input-group-text mb-3">
            <span class="input-group-text">Search events</span>
            <input class="form-control " id="searchEvents" name="searchCategory" type="text" aria-describedby="Search by category" aria-label="Search by category">
            <button type="submit" id="searchEventsButton" name="searchButton" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>