
    <div class="gallery-container">
        <h1>Event Gallery</h1>
        <div class="gallery" id="gallery">
            <!-- Thumbnails will be inserted here by JavaScript -->
        </div>
    </div>

    <!-- Lightbox -->
    <div id="lightbox" class="lightbox">
        <span id="close" class="close">&times;</span>
        <img id="lightbox-image" class="lightbox-image" />
        <div class="lightbox-caption">
            <h2 id="lightbox-title"></h2>
            <p id="lightbox-description"></p>
        </div>
    </div>

